<div class="text-center p-3">

<%= render "listCollections", collection: @collections %>

</div>
<div class="text-center">
    <div class ="btn-group gap-2 col-md-2  mx-3 " >
      

        <%= link_to 'New Collection', new_collection_path , class:"btn btn-dark" %>
    </div>
</div>