<h1>New Collection</h1>

<%= render 'form', collection: @collection %>


<div class="text-center p-3">
<div class ="btn-group col-md-1  mx-3" >
<%= link_to 'Back', collections_path , class:"btn btn-dark"; %>
</div>
</div>