<h1> <%= @user.email %> </h1>

<p> Nombre: <%= @user.name %> </p>

<% if @user.permission_level == 1 %>
    <p> Rol: Standar User </p>
<% else %>
    <p> Rol: Admin </p>
<%end%>


<ul>
  <%= link_to"Edit", edit_user_path(@user), class: "boton" %></li>
  <%= link_to "Delete", user_path(@user), class:"boton",
                  method: :delete,
                  data: { confirm: "Do you want to delete this note?" } %></li>
</ul>