// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$dark_gray: #cabaf0;
$wine: #960126f6;
$light_gray: #d7dbda;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    
}


body {
    
    background-image: url("spidey-background.jpg");
    background-color: #cccccc;
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
	
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    
}


.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.boton{
background-color: #201f1f;
border-radius: 8px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
font-weight: bold;
}

.boton:hover{
    background-color:  #fdfdfd;
    color: #201f1f;
    font-weight: bold;
    text-decoration: underline;
}

ul{
    list-style-image: url('note_icon.png');
    
}

li span{
    vertical-align: middle;
    display:inline-block;
    margin-bottom: 15px;
}

h1{
    color:#fdfdfd;
    margin-left: 20px;
    
}

h2{
    color:#fdfdfd;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 3px #FF0000;
    
}

a {
	color: $light_gray;
	text-decoration: none;
    font-weight: bold;
	&:hover {
		color: #201f1f;
        text-decoration: underline;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 400px;
	margin-bottom: 1rem;
    margin-right: 1rem;
	border: 1px solid $wine;
	border-radius: .4rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
    width: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

textarea {
    width: 400px;
	min-height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
}

nav a{
    color: #fdfdfd;
    text-decoration: none;
    text-transform: 14px;
    font-size: 21px;
   
    
}
nav a:hover{
    color:$wine;
}

.h1_container{
    background: #364A73;
    color:#d7dbda;
    font-style: italic;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: auto;
    padding-bottom: 20px;
    border-radius: 30px;
    
    
}

img{
    height: 80px;
    float:left;
    margin-left: 25px;
    

  


}