// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$dark_gray: #cabaf0;
$wine: #960126f6;
$light_gray: #d7dbda;


@mixin bold_font {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    
}


body {
    
    background-image: url("spidey-background.jpg");
    background-color: #cccccc;
    height: 1000px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
	
	
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    
}


.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.boton{
background-color: #201f1f;
border-radius: 8px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
font-weight: bold;
}

.boton:hover{
    background-color:  #fdfdfd;
    color: #201f1f;
    font-weight: bold;
    
}

ul{
    list-style-image: url('note_icon.png');
    
}

li span{
    vertical-align: middle;
    display:inline-block;
    margin-bottom: 15px;
}

h1{
    color:#fdfdfd;
    margin-left: 20px;
	text-shadow: 0 0 40px #364A73;
	
    
}

h2{
    color:#fdfdfd;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 10px #FF0000;
	padding-top:40px;
    
}

a {
	color: $light_gray;
	text-decoration: none;
    font-weight: bold;
    padding: 15px 32px;
	&:hover {
		color: #201f1f;
        
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 400px;
	margin-bottom: 1rem;
    margin-right: 1rem;
	border: 1px solid $wine;
	border-radius: .4rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
    width: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

textarea {
    width: 400px;
	min-height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav li{
    display: inline-block;
    margin-left: 220px;
    padding-top: 10px;
}

nav a{
    color: #fdfdfd;
    text-decoration: none;
    text-transform: 14px;
    font-size: 21px;
   
    
}
nav a:hover{
    color:$wine;
}

.h1_container{
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background: #364A73;
    color:#d7dbda;
    font-style: italic;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: auto;
    padding-bottom: 20px;
    border-radius: 30px;
    
    
}

.image1{
    height: 80px;
    float:left;
    margin-left: 25px;

}
.image2{
	width: 200px;
  	height: 200px;
	margin-left: 290px;
	margin-bottom: 10px;
	
}

p{
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
	word-wrap: break-word;
	width: 500px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: justify;
    text-justify: inter-word;

}
	
hr {
	width:500px;
	border: 0; 
	height: 2px; 
	text-align: center; 
	background-image: linear-gradient(left, #fff, #000, #fff);
}
.container{
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	height:auto;
	width:500px;
	background-color:#364A73;
	overflow: hidden;
}
.cosas_login{
	text-align: right;
}